body {
      text-align: center;
      background: url('../images/background.png');
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
    }
    p {
      font-size: 22px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
    .social-media a{
      margin: 50px;
      padding: 15px;
      position: center;
      border: solid;
      border-radius: 50px;
      color: white;


      }


      img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 25px;
      width: 15%;
      height: 15%;
    }